<% layout('layouts/boilerplate') %>
    <div class="container-fluid mt-5">
        <h1 class="text-center">Modifica Ingredient</h1>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="/ingredient/modifica/<%=ing._id%>?_method=PUT" method="POST" novalidate
                    class="validated-form">
                    <label class="fs-5" for="nume">Denumire</label>
                    <div class="input-group mb-3">
                        <input type="text" name="produs[nume]" id="nume" class="form-control"
                            placeholder="Denumire Produs" aria-describedby="basic-addon1" value="<%=ing.nume%>"
                            required>
                    </div>
                    <label class="fs-5" for="um">UM</label>
                    <div class="input-group mb-3">
                        <input type="text" name="produs[um]" id="um" class="form-control"
                            placeholder="Unitate de masură" aria-describedby="basic-addon1" value="<%=ing.um%>"
                            required>
                    </div>
                    <label class="fs-5" for="pret">Preț</label>
                    <div class="input-group mb-3">
                        <input type="text" name="produs[pret]" id="pret" class="form-control" placeholder="Pret"
                            aria-describedby="basic-addon1" value="<%=ing.pret%>" required>
                    </div>
                    <button class="btn btn-lg btn-info">Modifică</button>
                </form>
                <form action="/ingredient/modifica/<%=ing._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-lg btn-danger mt-4">Sterge</button>
                </form>
            </div>

            
        </div>
    </div>