<% layout('layouts/boilerplate') %>
    <div class="row">

        <div class="cont col-lg-6">
            <h4 class="text-center mt-4">Produs</h4>
            <div class="wrap">
                <div class="search-input">
                    <input type="text" id="cauta" placeholder="Caută Produs...">
                    <div class="nomenclator">
                        <% produse.forEach(function(el){ %>
                            <li><a href='/produs/modifica/<%=el._id%>'>
                                    <%=el.nume%>
                                </a></li>
                            <% }) %>
                    </div>
                    <div class="icon"><i class="bi bi-search"></i></div>
                </div>
            </div>
        </div>
        <div class="cont col-lg-6 ">
            <h4 class="text-center mt-4">Ingredient</h4>
            <div class="wrap">
                <div class="search-input">
                    <input type="text" id="cauta1" placeholder="Caută Ingredient...">
                    <div class="nomenclator1">

                        <% ings.forEach(function(el){ %>
                            <li><a href='/ingredient/modifica/<%=el._id%>'>
                                    <%=el.nume%> | <%=el.cantitate%>
                                            <%=el.um%> | Gestiune: <%=el.gestiune.nume%>
                                </a></li>
                            <% }) %>
                    </div>
                    <div class="icon"><i class="bi bi-search"></i></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/nom.js"></script>