<% layout('layouts/boilerplate') %>
    <style>
        /* table{
    height: 500px;
} */
        .stoc th {
            font-size: 22px;
            background-color: #fdc5f5;
            box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
        }

        .color1 {
            background-color: #bde0fe;
            font-size: 20px;
            box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
        }

        .color2 {
            background-color: #ffcad4;
            font-size: 20px;
            box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
        }

        .all {
            font-size: 22px;
            background-color: #f7aef8;
            box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
        }
    </style>

    <h3 class="text-center mt-4">Stoc Live</h3>
    <table class="col-lg-8 offset-lg-2 mt-2 stoc">
        <tr>
            <th>Denumire</th>
            <th>UM</th>
            <th>Pret</th>
            <th>Qty</th>
            <th>Lei</th>
        </tr>
        <% ings.forEach(function(el) {%>
            <tr class="stoc-line">
                <td>
                    <%=el.nume%>
                </td>
                <td>
                    <%=el.um%>
                </td>
                <td>
                    <%=Math.round(el.pret * 100) / 100%>
                </td>
                <td>
                    <%=Math.round(el.cantitate * 1000) / 1000%>
                </td>
                <td>
                    <%=Math.round((el.pret*el.cantitate) * 1000) / 1000%>
                </td>
            </tr>
            <% }) %>
                <tr class="all">
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <%=ings.reduce((acc, item)=> acc + Math.round(((item.pret*item.cantitate)*100)/100), 0)%>
                    </td>
                </tr>
    </table>

    <script>
        const stocLine = document.querySelectorAll('.stoc-line')
        stocLine.forEach(function (el, i) {
            if (i % 2 == 0) {
                el.classList.add('color1')
            } else {
                el.classList.add('color2')
            }
        })
    </script>